Satin Alma Siparisi Hazir - PO #{{ po_id }}
Parca: {{ part_name }}
Tedarikci: {{ supplier_name }}
Miktar: {{ quantity }} adet
Birim Fiyat: {{ unit_price }} TL
Toplam: {{ total }} TL
Durum: Onay bekliyor
